//
// Backgrounds
//

[class*="offset"] {
  overflow-x: hidden;
}

.bg-primary-offset {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 50%;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-image: url("data:image/svg+xml,%3Csvg width='1440' height='467' viewBox='0 0 1440 467' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1256.83 0.00705262C1184.52 0.283837 1112.28 8.82938 1039.26 8.55259C970.75 8.27581 901.94 7.8145 833.03 7.35319C760.815 6.79962 688.6 6.1538 616.384 5.60023C521.032 4.86214 425.88 4.21631 331.229 3.93952C321.714 3.93952 209.234 1.54072 170.372 3.93952C67.8083 6.33832 68.1088 7.44546 0 3.93952V442.643C69.1008 435.008 134.114 446.61 201.822 446.426C274.138 446.149 339.996 435.425 419.87 440.982C485.708 443.104 555 437.464 623.91 437.925C648.449 438.109 675.278 442.551 699.817 442.735L722.353 467L744.589 443.104C777.241 443.381 809.993 443.658 842.645 443.842C937.998 444.58 1031.49 439.315 1126.14 439.592C1135.66 439.592 1249.8 447.902 1288.66 445.503C1389.92 446.518 1386.92 442.089 1440 445.503V6.68336C1388.32 7.69824 1324.54 -0.269732 1256.83 0.00705262Z' fill='%23F7C844'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: 100%;
    min-width: 50rem;
    z-index: -1;
  }

  &.center {
    &::before {
      background-size: cover;
      bottom: 15%;
    }
  }

  > * {
    @extend .mb-3;
  }
}

.bg-yellow-opacity {
  background-color: #FCECBE;
}

.bg-green-offset {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 50%;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-image: url("data:image/svg+xml,%3Csvg width='1440' height='366' viewBox='0 0 1440 366' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1258.32 0.00578205C1185.81 0.232701 1113.37 7.23869 1040.15 7.01177C971.446 6.78485 902.446 6.40665 833.344 6.02845C760.928 5.57461 688.512 5.04514 616.096 4.5913C520.479 3.98618 425.063 3.4567 330.149 3.22978C320.607 3.22978 207.815 1.26315 168.845 3.22978C65.9966 5.19642 66.298 6.1041 -2 3.22978V362.897C67.2927 356.638 132.487 366.149 200.383 365.998C272.899 365.771 338.94 356.979 419.037 361.535C485.058 363.275 554.541 358.651 623.643 359.029C648.25 359.18 675.154 362.821 699.761 362.973L723.008 363.88L744.657 363.275C777.4 363.502 810.243 363.729 842.986 363.88C938.603 364.485 1032.36 360.169 1127.27 360.395C1136.81 360.395 1251.27 367.209 1290.24 365.242C1391.78 366.074 1388.77 362.443 1442 365.242V5.4793C1390.17 6.31133 1326.22 -0.221137 1258.32 0.00578205Z' fill='%2326A195'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: 100%;
    min-width: 50rem;
    z-index: -1;
  }

  &.center {
    &::before {
      background-size: cover;
      bottom: 15%;
    }
  }
}

.bg-green-band {
  @extend .text-white;
  background-image: url("data:image/svg+xml,%3Csvg width='1440' height='427' viewBox='0 0 1440 427' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0H1440V412H734.5L718 427L701.5 412H0V0Z' fill='%2326A195'/%3E%3C/svg%3E%0A");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
}

.bg-indigo-offset {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    background-image: url("data:image/svg+xml,%3Csvg width='1440' height='470' viewBox='0 0 1440 470' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 464.748C68 466.395 71.5 463.19 174 462.033C212.8 460.875 320.1 464.57 329.5 464.57C424 464.703 519 465.015 614.2 465.371C686.3 465.638 758.4 465.95 830.5 466.217C899.3 466.484 968 466.662 1036.4 466.795C1109.3 466.929 1181.9 464.303 1254.1 464.169C1321.7 464.036 1388.3 469.555 1440 469.065V470V0.00012207H0V466.795V464.748Z' fill='%236D5CB8'/%3E%3C/svg%3E%0A");
    width: 100%;
    height: 60%;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    z-index: -1;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
  }
}
