.sprite {
  height: 1.77778rem;
  width: 1.77778rem;
}

.social {
  width: 2.7rem;
  height: 2.7rem;
}

a {
  img {
    transition: 0.2s opacity;
  }

  &:hover {
    img {
      opacity: 0.7;
    }
  }
}

.mobile-size {
  @include media-breakpoint-down(sm) {
    max-width: 9rem;
    margin: 0 auto;
    max-height: 11rem;
  }
}

.young-peoples-logo {
  @include media-breakpoint-down(md) {
    top: 0 !important;

    img {
      width: 6rem !important;
      height: 6rem !important;
    }
  }
}

.wp-block-image img {
  max-width: 100%;
  height: auto;
}

.img-border {
  img {
    @extend .border;
    @extend .border-white;
    @extend .border-3;
    @extend .rounded-3;
  }
}
