//
// Font imports
//

// Caveat
@font-face {
  font-family: 'Caveat';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local(''),
  url('./fonts/caveat-v10-latin-700.woff2') format('woff2'),
  url('./fonts/caveat-v10-latin-700.woff') format('woff');
}

// Oswald
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local(''),
  url('./fonts/oswald-v36-latin-700.woff2') format('woff2'),
  url('./fonts/oswald-v36-latin-700.woff') format('woff');
}

// Raleway
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local(''),
  url('./fonts/raleway-v19-latin-300.woff2') format('woff2'),
  url('./fonts/raleway-v19-latin-300.woff') format('woff');
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(''),
  url('./fonts/raleway-v19-latin-regular.woff2') format('woff2'),
  url('./fonts/raleway-v19-latin-regular.woff') format('woff');
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local(''),
  url('./fonts/raleway-v19-latin-600.woff2') format('woff2'),
  url('./fonts/raleway-v19-latin-600.woff') format('woff');
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local(''),
  url('./fonts/raleway-v19-latin-700.woff2') format('woff2'),
  url('./fonts/raleway-v19-latin-700.woff') format('woff');
}

//
// Typography settings
//

h1,
.h1,
h2,
.h2,
.display-1,
.display-3 {
  text-transform: uppercase;
}

h3,
.h3,
h4,
.h4,
h5,
.h5 {
  font-family: $font-family-sans-serif;
}

h2 {
  @extend .mb-4;
}

h6,
.h6 {
  text-transform: inherit !important;
  color: $purple;
  margin-bottom: 1rem !important;
}

[class*="display-"] {
  font-family: 'Caveat';
}

.display-1 {
  color: $primary;
}

.bullets { // ul
  list-style: none;
  padding: 0;
  margin-left: -0.5rem;

  li {
    position: relative;
    padding: 1.25rem 0 0 4.25rem;
    min-height: 4.1rem; 

    &::before {
      top: 0;
      left: 0;
      position: absolute;
      content: '';
      height: 4.666rem;
      width: 4.666rem;
      background-image: url("data:image/svg+xml,%3Csvg width='84' height='84' viewBox='0 0 84 84' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_dd)'%3E%3Cpath d='M60 37.1881C60 42.4158 58.2879 49.577 51.9208 53.8218C47.6436 56.6733 39.5644 59.5822 35.7624 59.5247C28.8188 59.4199 22.9307 55.7228 19.2719 52.8713C13.5456 48.4085 12 42.4815 12 35.7624C12 29.7525 15.802 22.4789 17.9101 20.0792C22.9607 14.3301 28.6486 12 35.7624 12C43.2573 12 49.234 14.0201 54.297 20.0792C58.4367 25.0332 60 32.8066 60 37.1881Z' fill='%236D5CB8'/%3E%3C/g%3E%3Cpath d='M27.207 31.0704C27.4414 31.549 28.0228 32.5728 28.777 33.8612C29.8718 36.7033 32.2022 39.8838 33.7691 42.239C34.1135 42.7567 34.8855 42.7624 35.2237 42.2406L40.0387 34.8117L44.9496 28.1582' stroke='white' stroke-width='3.37954' stroke-linecap='round'/%3E%3Cdefs%3E%3Cfilter id='filter0_dd' x='0.594059' y='0.594059' width='83.1683' height='82.6939' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0'/%3E%3CfeOffset dx='9.50495' dy='9.50495'/%3E%3CfeGaussianBlur stdDeviation='7.12871'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0.427451 0 0 0 0 0.360784 0 0 0 0 0.721569 0 0 0 0.1 0'/%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0'/%3E%3CfeOffset dx='-1.90099' dy='-1.90099'/%3E%3CfeGaussianBlur stdDeviation='4.75248'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0.427451 0 0 0 0 0.360784 0 0 0 0 0.721569 0 0 0 0.05 0'/%3E%3CfeBlend mode='normal' in2='effect1_dropShadow' result='effect2_dropShadow'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect2_dropShadow' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E%0A");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
    }
  }

  &.blue {
    li {
      &::before {
        height: 2.7rem;
        width: 2.7rem;
        top: 0.625rem;
        left: 0.625rem;
        background-image: url("data:image/svg+xml,%3Csvg width='51' height='50' viewBox='0 0 51 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M50.5 26.5C50.5 32 48.6987 39.5342 42 44C37.5 47 29 50.0604 25 50C17.6948 49.8897 11.5 46 7.65061 43C1.62608 38.3048 0 32.069 0 25C0 18.6772 4 11.0247 6.21793 8.5C11.5315 2.45147 17.5157 0 25 0C32.8853 0 39.1732 2.12536 44.5 8.5C48.8553 13.7121 50.5 21.8902 50.5 26.5Z' fill='%235ECBD4'/%3E%3Cpath d='M16 20.0638C16.2466 20.5674 16.8583 21.6445 17.6518 23C18.8036 25.9901 21.2553 29.3363 22.9038 31.8142C23.2662 32.3588 24.0784 32.3648 24.4342 31.8159L29.5 24L34.6667 17' stroke='white' stroke-width='3.55556' stroke-linecap='round'/%3E%3C/svg%3E%0A") !important;
        background-size: contain;
      }
    }
  }

  &.negative {
    li {
      &::before {
        height: 2.7rem;
        width: 2.7rem;
        top: 0.625rem;
        left: 0.625rem;
        background-image: url("data:image/svg+xml,%3Csvg width='51' height='50' viewBox='0 0 51 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M50.5 26.5C50.5 32 48.6987 39.5342 42 44C37.5 47 29 50.0604 25 50C17.6948 49.8897 11.5 46 7.65061 43C1.62608 38.3048 0 32.069 0 25C0 18.6772 4 11.0247 6.21793 8.5C11.5315 2.45147 17.5157 0 25 0C32.8853 0 39.1732 2.12536 44.5 8.5C48.8553 13.7121 50.5 21.8902 50.5 26.5Z' fill='%23E83942'/%3E%3Cpath d='M34.5 15.5C34.5 15.5 32 17 29.5 20.5C27 24 19.5 30.5 18.365 31.635C17.5 32.5 15.5 34.5 15.5 34.5' stroke='white' stroke-width='4' stroke-linecap='round'/%3E%3Cpath d='M15.5 15.5C16.9431 16.9821 17.5 16.8243 19.5 19.6081C20.5 21 26.5 26 30.1053 30.5C31.4685 32.2015 32.5 33.5 34 34.5' stroke='white' stroke-width='4' stroke-linecap='round'/%3E%3C/svg%3E%0A"); 
        background-size: contain;
      }
    }
  }
}

*:target:before {
  content: "";
  display: block;
  height: 4rem;
  margin-top: -4rem;
}
