//
// Font imports
//

// Caveat
@font-face {
  font-family: 'Caveat';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local(''),
  url('../fonts/caveat-v10-latin-700.woff2') format('woff2'),
  url('../fonts/caveat-v10-latin-700.woff') format('woff');
}

// Oswald
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local(''),
  url('../fonts/oswald-v36-latin-700.woff2') format('woff2'),
  url('../fonts/oswald-v36-latin-700.woff') format('woff');
}

// Raleway
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local(''),
  url('../fonts/raleway-v19-latin-300.woff2') format('woff2'),
  url('../fonts/raleway-v19-latin-300.woff') format('woff');
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(''),
  url('../fonts/raleway-v19-latin-regular.woff2') format('woff2'),
  url('../fonts/raleway-v19-latin-regular.woff') format('woff');
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local(''),
  url('../fonts/raleway-v19-latin-600.woff2') format('woff2'),
  url('../fonts/raleway-v19-latin-600.woff') format('woff');
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local(''),
  url('../fonts/raleway-v19-latin-700.woff2') format('woff2'),
  url('../fonts/raleway-v19-latin-700.woff') format('woff');
}

//
// Typography settings
//

h1,
.h1,
h2,
.h2,
.display-1,
.display-3 {
  text-transform: uppercase;
}

h3,
.h3,
h4,
.h4,
h5,
.h5 {
  font-family: $font-family-sans-serif;
}

h2 {
  @extend .mb-4;
}

[class*="display-"] {
  font-family: 'Caveat';
}

.display-1 {
  color: $primary;
}
