<?php
/**
 * Get help hero block
 *
 * @package      Synthetic
 * @author       James Monk
 * @since        1.0.0
 * @license      GPL-2.0+
**/

$page_title = get_field('page_title');
$page_tagline = get_field('page_tagline');
$hero_text = get_field('hero_text');
$image = get_field('image');
$image_position = get_field('image_position');
$button_text = get_field('button_text');
$button_link = get_field('button_link');

// disable block frontend wrapper.
add_filter( 'acf/hero/frontend_allow_wrapper', '__return_false' );
?>
<div class="full-width hero bg-primary text-white py-5 text-center text-lg-start">
  <div class="container pt-lg-4 pb-5 mb-5">
    <div class="row justify-content-between pb-5 mb-5">
      <div class="col-lg<?php if ( $image_position == 'right' ) : echo ' order-lg-1'; endif; ?>">
        <?php echo wp_get_attachment_image($image, full, '', ['class' => 'img-fluid']); ?>
      </div>
      <div class="col-lg mt-n5 mt-lg-0">
        <?php if ( !is_front_page() ) : echo '<h1 class="mb-0">'; endif; ?>
        <span class="d-block display-1 text-indigo"><?php echo $page_title; ?></span>
        <?php if ( !is_front_page() ) : echo '</h1>'; endif; ?>
        <span class="d-block h1 text-white col-lg-10"><?php echo $page_tagline; ?></span>
        <div class="fs-4 pt-4 pb-3 text-purple"><?php echo $hero_text; ?></div>
        <?php if ($button_text) : ?>
        <a href="<?php echo $button_link; ?>" class="btn btn-outline-primary"><?php echo $button_text; ?></a>
        <?php endif; ?>
      </div>
    </div>
  </div>
  <style>
    .hero {
      position: relative;
      margin-bottom: 1.15vw;
    }

    .hero::before {
      content: '';
      height: 1.125vw;
      position: absolute;
      width: 102%;
      top: calc(100% - 2px);
      left: 50%;
      transform: translateX(-50%);
      background-image: url("data:image/svg+xml,%3Csvg width='1440' height='14' viewBox='0 0 1440 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 5.68549C68 8.29255 71.5 3.21938 174 1.38739C212.8 -0.444601 320.1 5.40363 329.5 5.40363C424 5.61501 519 6.10831 614.2 6.672C686.3 7.09476 758.4 7.58804 830.5 8.0108C899.3 8.43357 968 8.71531 1036.4 8.9267C1109.3 9.13808 1181.9 4.98098 1254.1 4.76959C1321.7 4.55821 1388.3 13.2954 1440 12.5203V14V0.5H0V8.9267V5.68549Z' fill='%23F7C844'/%3E%3C/svg%3E%0A");
      background-repeat: no-repeat;
      background-position: top center;
      background-size: 100% 100%;
    }

    .hero + * {
      position: relative;
    }

    @media (max-width: 991.98px) {
      .hero + * {
        margin-top: -15rem;
      }
    }

    @media (min-width: 992px) {
      .hero + * {
        margin-top: -30%;
      }
    }
  </style>
</div>
