</div>
<footer class="footer bg-purple text-white py-5">
  <div class="container">
    <img src="<?php echo get_theme_file_uri(); ?>/img/footer-logo.svg" class="d-md-none mt-n3 mb-4" width="208" height="46" alt="BigDeal logo">
    <div class="row">
      <nav class="col-md">
        <span class="d-block fw-bold">Topics to explore</span>
        <?php wp_nav_menu( array( 
          'theme_location' => 'main-menu',
          'depth' => 1,
        ) ); ?>
      </nav>
      <div class="col-md mb-3 mb-md-0">
        <span class="d-block fw-bold">Follow us</span>
        <a href="https://www.facebook.com/BigDealUK" target="_blank">
          <span class="visually-hidden">Facebook</span>
          <svg class="social">
            <use xlink:href="#facebook"></use>
          </svg>
        </a>
        <a href="https://twitter.com/BigDealUK" target="_blank">
          <span class="visually-hidden">Twitter</span>
          <svg class="social">
            <use xlink:href="#twitter"></use>
          </svg>
        </a>
        <a href="https://www.instagram.com/bigdealUK" target="_blank">
          <span class="visually-hidden">Instagram</span>
          <svg class="social">
            <use xlink:href="#instagram"></use>
          </svg>
        </a>
        <a href="https://www.youtube.com/user/BigDealGamcare" target="_blank">
          <span class="visually-hidden">Youtube</span>
          <svg class="social">
            <use xlink:href="#youtube"></use>
          </svg>
        </a>
        <div class="footer-logos mt-3">
          <?php
            $footer_logos = get_post( 2705 );
            $footer_logos_content = apply_filters('the_content', $footer_logos->post_content);
            echo $footer_logos_content;
          ?>
        </div>
      </div>
      <nav class="col-md text-reset row">
        <div class="col col-md-12">
          <?php wp_nav_menu( array( 
            'theme_location' => 'extra-menu',
            'depth' => 1,
          ) ); ?>
        </div>
        <div class="col col-md-12">
          <a href="<?php echo esc_url( home_url( '/' ) ); ?>" title="<?php echo esc_html( get_bloginfo( 'name' ) ); ?>" rel="home" class="d-block mb-3">
            <img src="<?php echo get_theme_file_uri(); ?>/img/footer-logo.svg" class="d-none d-md-block mt-2 mb-1" width="208" height="46" alt="BigDeal logo">
          </a>
          <span class="d-block"><?php echo esc_html( get_bloginfo( 'name' ) ); ?> &copy; <?php echo esc_html( date_i18n( __( 'Y', 'synthetic' ) ) ); ?></span>
          <span class="d-block">GamCare is a registered charity no. 1060005</span>
        </div>
      </div>
    </div>
  </div>
</footer>

<div class="position-fixed bottom-0 end-0 m-3" style="z-index: 1;">
  <button type="button" class="btn btn-secondary px-2" data-bs-toggle="modal" data-bs-target="#referalForm">
    <small>Access Support</small>
  </button>
</div>

<div class="modal fade" id="referalForm" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-fullscreen-md-down modal-dialog-scrollable">
    <div class="modal-content overflow-hidden">
      <div class="modal-header">
        <p class="h3 mb-0">Young People's Service referral form</p>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body p-3">
        <?php echo do_shortcode('[wpforms id="10" title="false"]'); ?>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="liveChat" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-fullscreen-md-down">
    <div class="modal-content overflow-hidden">
      <div class="modal-header">
        <p class="h3 mb-0">Live chat</p>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <iframe height="500" data-src="https://app.five9.eu/consoles/ChatConsole/index.html?title=Gamcare%20Chat&tenant=GamCare-%20(thru%20babble)&profiles=BigDeal&showProfiles=true&theme=default-theme.css&surveyOptions=%7B%22showComment%22%3Atrue%2C%22requireComment%22%3Afalse%7D&fields=%7B%22name%22%3A%7B%22value%22%3A%22%22%2C%22show%22%3Atrue%2C%22label%22%3A%22User%20Name%22%7D%2C%22email%22%3A%7B%22value%22%3A%22%22%2C%22show%22%3Atrue%2C%22label%22%3A%22Email%20(Optional)%22%7D%7D&playSoundOnMessage=true&allowCustomerToControlSoundPlay=false&showEmailButton=false&useBusinessHours=false&showPrintButton=false&allowUsabilityMenu=false"></iframe>
    </div>
  </div>
</div>

<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TDCPV94"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>

<script defer src="<?php echo get_theme_file_uri(); ?>/js/main.js"></script>
<?php wp_footer(); ?>
<script async>
  (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-TDCPV94');

  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-3398770-4', 'auto');
  ga('send', 'pageview');

  (function(e,t,n){if(e.snaptr)return;var a=e.snaptr=function()
    {a.handleRequest?a.handleRequest.apply(a,arguments):a.queue.push(arguments)};
    a.queue=[];var s='script';r=t.createElement(s);r.async=!0;
    r.src=n;var u=t.getElementsByTagName(s)[0];
    u.parentNode.insertBefore(r,u);})(window,document,
      'https://sc-static.net/scevent.min.js');
  snaptr('init', '1edf5f95-46a8-4df9-87c9-037806df26dc');
  snaptr('track', 'PAGE_VIEW');

  !function (w, d, t) {
    w.TiktokAnalyticsObject=t;var ttq=w[t]=w[t]||[];ttq.methods=["page","track","identify","instances","debug","on","off","once","ready","alias","group","enableCookie","disableCookie"],ttq.setAndDefer=function(t,e){t[e]=function(){t.push([e].concat(Array.prototype.slice.call(arguments,0)))}};for(var i=0;i<ttq.methods.length;i++)ttq.setAndDefer(ttq,ttq.methods[i]);ttq.instance=function(t){for(var e=ttq._i[t]||[],n=0;n<ttq.methods.length;n++)ttq.setAndDefer(e,ttq.methods[n]);return e},ttq.load=function(e,n){var i="https://analytics.tiktok.com/i18n/pixel/events.js";ttq._i=ttq._i||{},ttq._i[e]=[],ttq._i[e]._u=i,ttq._t=ttq._t||{},ttq._t[e]=+new Date,ttq._o=ttq._o||{},ttq._o[e]=n||{};var o=document.createElement("script");o.type="text/javascript",o.async=!0,o.src=i+"?sdkid="+e+"&lib="+t;var a=document.getElementsByTagName("script")[0];a.parentNode.insertBefore(o,a)};
    ttq.load('C23D65A4I5JO5S1JCN2G');
    ttq.page();
  }(window, document, 'ttq');
</script>
</body>
</html>
