<!DOCTYPE html>
<html <?php language_attributes(); ?>>
<head>
  <meta charset="<?php bloginfo( 'charset' ); ?>" />
  <meta name="viewport" content="width=device-width" />
  <?php wp_head(); ?>
  <link rel="stylesheet" href="<?php echo get_theme_file_uri(); ?>/css/main.css">
  <link rel="preload" href="<?php echo get_theme_file_uri(); ?>/fonts/caveat-v10-latin-700.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="<?php echo get_theme_file_uri(); ?>/fonts/raleway-v19-latin-regular.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="<?php echo get_theme_file_uri(); ?>/fonts/raleway-v19-latin-700.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="<?php echo get_theme_file_uri(); ?>/fonts/oswald-v36-latin-700.woff2" as="font" type="font/woff2" crossorigin>
</head>
<body <?php body_class(); ?>>
<div class="hidden">{{> global/sprite }}</div>
<a class="visually-hidden-focusable" href="#content">Skip to main content</a>
<header>
  <div class="container-fluid">
    <div class="row align-items-center py-2">
      <a class="col-auto" href="<?php echo esc_url( home_url( '/' ) ); ?>" title="<?php echo esc_html( get_bloginfo( 'name' ) ); ?>" rel="home">
        <img src="<?php echo get_theme_file_uri(); ?>/img/header-logo.png" width="140" height="71" alt="BigDeal logo">
        <span class="visually-hidden"><?php if ( is_front_page() || is_home() || is_front_page() && is_home() ) { echo '<h1>'; }  echo esc_html( get_bloginfo( 'name' ) ); if ( is_front_page() || is_home() || is_front_page() && is_home() ) { echo '</h1>'; } ?></span>
      </a>
      <div class="header-description col">
        <?php bloginfo( 'description' ); ?>
      </div>
      <div class="d-none d-lg-block col-auto ms-lg-auto">
        Call free 0203 092 6964
      </div>
      <div class="d-none d-lg-block col-auto">
        <a href="#" target="_blank" class="btn btn-outline-primary">Live chat</a>
      </div>
    </div>
  </div>
  <nav class="navbar navbar-expand-lg navbar-light bg-purple">
    <div class="container-fluid">
      <div class="col-auto d-lg-none">
        Call
      </div>
      <div class="col d-lg-none text-center">
        <a href="#" target="_blank" class="btn btn-outline-primary">Live chat</a>
      </div>
      <a href="#" target="_blank" class="nav-link col-auto bg-yellow">Get help</a>
      <button class="ms-auto navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="main-menu">
        <?php
          wp_nav_menu(array(
            'theme_location' => 'main-menu',
            'container' => false,
            'menu_class' => '',
            'fallback_cb' => '__return_false',
            'items_wrap' => '<ul id="%1$s" class="navbar-nav me-auto mb-2 mb-md-0 %2$s">%3$s</ul>',
            'depth' => 2,
            'walker' => new bootstrap_5_wp_nav_menu_walker()
          ));
        ?>
      </div>
    </div>
  </nav>
</header>
<div class="container py-5">
