<?php get_header(); ?>
<main id="content" class="my-n5 entry-content">
  <div class="full-width pt-5 text-center bg-indigo-offset">
    <div class="container">
      <h1 class="text-white"><?php single_post_title(); ?></h1>
      <?php
        $page_id = get_queried_object_id();
        if ( has_post_thumbnail( $page_id ) ) :
          $image_array = wp_get_attachment_image_src( get_post_thumbnail_id( $page_id ), 'large' );
          $image = $image_array[0];
          echo '<img src="'.$image.'" class="img-fluid mx-auto" loading="lazy" alt="" width="536" height="499">';
        endif;
      ?>
    </div>
  </div>

  <?php
    $personal_stories = get_post( 171 );
    $personal_stories_content = apply_filters('the_content', $personal_stories->post_content);
    echo $personal_stories_content;
  ?>
  <style>
    .bg-green-offset .wp-block-buttons { display: none; }
  </style>

  <?php
    $videos = get_post( 264 );
    $videos_content = apply_filters('the_content', $videos->post_content);
    echo $videos_content;
  ?>

  <div class="py-5 container">
    <h2 class="has-text-align-center">Blogs</h2>
    <div class="row" class="blog-posts">
      <?php if ( have_posts() ) : while ( have_posts() ) : the_post();
        get_template_part( 'entry' );
      endwhile; endif; ?>

      <?php 
        $args = array( 
          'orderby' => 'ASC',
          'posts_per_page' => -1,
          'post_type' => 'post',
          'tax_query' => array(
            array(
              'taxonomy'  => 'age-group',
              'field'     => 'slug',
              'terms'     => '18-to-25',
              'operator'  => 'NOT IN'
            )
          )
        );
        $the_query = new WP_Query( $args );

        if ( $the_query->have_posts() ) : while ( $the_query->have_posts() ) : $the_query->the_post();
          get_template_part( 'entry' );
      ?>
      <?php endwhile; endif; ?>
      <?php wp_reset_query(); ?>

      <div class="row" id="extra-posts"></div>
    </div>

    <div class="text-center pt-4" id="load-more-posts">
      <button class="btn btn-primary" type="button">Load More</button>
    </div>

    <?php $nonce = wp_create_nonce('extra-special'); ?>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
      offset = 6;
      jQuery('#load-more-posts button').click(function() {
        var ajax_url = '/wp-admin/admin-ajax.php';
        var data = {
          'action': 'load_more_posts',
          'offset': offset,
          'security': '<?php echo $nonce; ?>',
        };

        jQuery.post(ajax_url, data, function(response) {
          if (response !== ''){
            jQuery('#extra-posts').append(response);
            offset += 6;
            jQuery('#extra-posts').css('opacity', '1');
          } else {
            jQuery('#load-more-posts').hide();
          }
        });
      });
    </script>
  </div>

  <?php
    $footer_top = get_post( 101 );
    $footer_top_content = apply_filters('the_content', $footer_top->post_content);
    echo $footer_top_content;
  ?>
</main>
<?php get_footer(); ?>
