<?php get_header(); ?>
<main id="content" class="my-n5 entry-content">
  <div class="full-width py-5 text-center bg-indigo">
    <div class="container">
      <h1 class="text-white"><?php single_post_title(); ?></h1>
      <?php
        $page_id = get_queried_object_id();
        if ( has_post_thumbnail( $page_id ) ) :
          $image_array = wp_get_attachment_image_src( get_post_thumbnail_id( $page_id ), 'large' );
          $image = $image_array[0];
          echo '<img src="'.$image.'" class="img-fluid mx-auto" loading="lazy" alt="" width="536" height="499">';
        endif;
      ?>
    </div>
  </div>

  <?php
    $personal_stories = get_post( 486 );
    $personal_stories_content = apply_filters('the_content', $personal_stories->post_content);
    echo $personal_stories_content;
  ?>
  <style>
    .bg-green-offset .wp-block-buttons { display: none; }
  </style>

  <?php
    $videos = get_post( 558 );
    $videos_content = apply_filters('the_content', $videos->post_content);
    echo $videos_content;
  ?>

  <div class="py-5">
    <h2 class="has-text-align-center">Blogs</h2>
    <div class="row" class="blog-posts">
      <?php if ( have_posts() ) : while ( have_posts() ) : the_post(); ?>
        <div class="col-md-6 col-lg-4 d-flex mb-3 post-wrapper">
          <article id="post-<?php the_ID(); ?>" <?php post_class(['class' => 'd-flex']); ?>>
            <div class="card p-3">
              <header>
                <?php if ( has_post_thumbnail() ) : ?>
                  <a href="<?php the_permalink(); ?>" title="<?php the_title_attribute(); ?>">
                    <?php the_post_thumbnail( array(532, 225), ['class' => 'img-fluid']); ?>
                  </a>
                <?php endif; ?>
                <a href="<?php the_permalink(); ?>" title="<?php the_title_attribute(); ?>" class="text-decoration-none" rel="bookmark">
                  <h3 class="entry-title my-3"><?php the_title(); ?></h3>
                </a>
              </header>
              <div class="mt-auto entry-summary">
                <?php
                  $excerpt = get_the_excerpt(); 
                  $excerpt = substr( $excerpt, 0, 105 );
                  $result = substr( $excerpt, 0, strrpos( $excerpt, ' ' ) );
                  echo $result;
                ?>
              </div>
              <a href="<?php the_permalink(); ?>" title="<?php the_title_attribute(); ?>" class="footer-link">Read more</a>
            </div>
          </article>
        </div>
        <?php comments_template(); ?>
      <?php endwhile; endif; ?>
      <div class="row" id="extra-posts"></div>
    </div>
    <?php get_template_part( 'nav', 'below' ); ?>
  </div>

  <?php
    $footer_top = get_post( 298 );
    $footer_top_content = apply_filters('the_content', $footer_top->post_content);
    echo $footer_top_content;
  ?>
</main>
<?php get_footer(); ?>
