<?php
/*
Template Name: Adult section
*/
?>
<?php get_header(); ?>
<main id="content" class="my-n5 entry-content adult__container">
  <?php the_content(); ?>
  <?php
    $adult_footer_top = get_post( 3467 );
    $adult_footer_top_content = apply_filters('the_content', $adult_footer_top->post_content);
    echo $adult_footer_top_content;
  ?>
</main>
<?php get_footer(); ?>
