<?php get_header(); ?>
<main id="content" class="my-n5">
  <?php if ( have_posts() ) : while ( have_posts() ) : the_post(); ?>
    <article id="post-<?php the_ID(); ?>" <?php post_class(); ?>>
    <?php if (get_post_type() == "personal_stories") { ?>
      <?php 
        $id = get_the_ID();
        $terms = get_the_terms( $id, 'age-group' ); 
        $adult;
        foreach($terms as $term) {
          if ($term->name == '18 to 25') {
            $adult = 'true';
          }
        }
      ?>
      <?php if ($adult == true) : ?>
        <header class="full-width pt-4 pt-md-5 text-center overflow-hidden bg-indigo">
          <div class="container position-relative">
            <?php
              $adult_story_top = get_post( 3570 );
              $adult_story_top_content = apply_filters('the_content', $adult_story_top->post_content);
              echo $adult_story_top_content;
            ?>
          </div>
        </header>
        <div class="py-3">
          <?php the_content(); ?>
        </div>
        <?php
          $adult_carousel = get_post( 3405 );
          $adult_carousel = apply_filters('the_content', $adult_carousel->post_content);
          echo $adult_carousel_content;
        ?>
      <?php else : ?>
        <?php
          $personal_stories_hero = get_post( 280 );
          $personal_stories_hero_content = apply_filters('the_content', $personal_stories_hero->post_content);
          echo $personal_stories_hero_content;
        ?>
        <div class="wp-block-group position-relative mb-n5">
          <div class="wp-block-group__inner-container">
            <div class="wp-block-columns">
              <div class="wp-block-column card block-heading blue">
                <header>
                  <h1 class="has-text-align-center h3 display-2"><?php the_title(); ?></h1>
                </header>
                <?php the_content(); ?>
                <footer class="pt-2">
                  <div class="post-share">
                    <a class="facebook text-yellow d-inline-block" href="https://www.facebook.com/sharer/sharer.php?u=">
                      <span class="visually-hidden">Share on Twitter</span>
                      <svg class="social">
                        <use xlink:href="#facebook"></use>
                      </svg>
                    </a>
                    <a class="twitter text-yellow d-inline-block" href="https://twitter.com/intent/tweet?url=">
                      <span class="visually-hidden">Share on Twitter</span>
                      <svg class="social">
                        <use xlink:href="#twitter"></use>
                      </svg>
                    </a>
                    <script>
                      const encodedPageUrl = encodeURI(window.location.href);
                      document.querySelector('.facebook').href += encodedPageUrl;
                      document.querySelector('.twitter').href += encodedPageUrl;
                    </script>
                  </div>
                </footer>
              </div>
            </div>
          </div>
        </div>
        <style>
          h1 { text-transform: inherit !important; }
        </style>

        <?php
          $personal_stories = get_post( 171 );
          $personal_stories_content = apply_filters('the_content', $personal_stories->post_content);
          echo $personal_stories_content;
        ?>
        <style>
          .bg-green-offset::before { content: inherit; }
          .bg-green-offset h2::before { content: 'More '; }
          .bg-green-offset .wp-block-buttons { display: none; }
        </style>
      <?php endif; ?>
    <?php } else { ?>
      <?php 
        $id = get_the_ID();
        $terms = get_the_terms( $id, 'age-group' ); 
        $adult;
        foreach($terms as $term) {
          if ($term->name == '18 to 25') {
            $adult = 'true';
          }
        }
      ?>
      <header class="full-width pt-4 pt-md-5 text-center overflow-hidden <?php if ($adult == true) : ?>bg-indigo<?php else : ?>bg-indigo-offset text-md-start<?php endif; ?>">
        <div class="container position-relative">
          <?php if ($adult == true) : ?>
            <?php
              $adult_top = get_post( 3544 );
              $adult_top_content = apply_filters('the_content', $adult_top->post_content);
              echo $adult_top_content;
            ?>
          <?php else : ?>
            <h1 class="post-title text-white mb-5"><?php the_title(); ?></h1>
            <?php if ( has_post_thumbnail() ) : ?>
              <?php the_post_thumbnail(array(960, 500), ['class' => 'post-image img-fluid']); ?>
            <?php endif; ?>
            <div class="post-meta d-flex mx-2 mb-3">
              <span class="post-category col-auto">
                <?php
                $categories = get_the_category();
                if ( ! empty( $categories ) ) {
                  foreach( $categories as $category ) {
                    echo '<span class="btn btn-blue text-white">'. esc_html( $category->name ) .'</span>';
                  }
                }
                ?>
              </span>
              <span class="post-author col-auto btn">Written by BigDeal</span>
              <span class="post-date col-auto ms-auto"><?php the_time( get_option( 'date_format' ) ); ?></span>
            </div>
          <?php endif; ?>
        </div>
      </header>
      <div class="py-3">
        <?php the_content(); ?>
      </div>
      <footer class="pt-2<?php if ($adult != true) : ?> pb-5<?php endif; ?>">
        <div class="post-share">
          <a class="facebook text-yellow d-inline-block" href="https://www.facebook.com/sharer/sharer.php?u=">
            <span class="visually-hidden">Share on Twitter</span>
            <svg class="social">
              <use xlink:href="#facebook"></use>
            </svg>
          </a>
          <a class="twitter text-yellow d-inline-block" href="https://twitter.com/intent/tweet?url=">
            <span class="visually-hidden">Share on Twitter</span>
            <svg class="social">
              <use xlink:href="#twitter"></use>
            </svg>
          </a>
          <script>
            const encodedPageUrl = encodeURI(window.location.href);
            document.querySelector('.facebook').href += encodedPageUrl;
            document.querySelector('.twitter').href += encodedPageUrl;
          </script>
        </div>
      </footer>
    <?php } ?>
    </article>
  <?php endwhile; endif; ?>
  <?php if ($adult == true) : ?>
    <?php
      $adult_footer_top = get_post( 3467 );
      $adult_footer_top_content = apply_filters('the_content', $adult_footer_top->post_content);
      echo $adult_footer_top_content;
    ?>
  <?php endif; ?>
  <?php
    $footer_top = get_post( 101 );
    $footer_top_content = apply_filters('the_content', $footer_top->post_content);
    echo $footer_top_content;
  ?>
</main>
<?php get_footer(); ?>
