<?php get_header(); ?>
<main id="content" class="my-n5">
  <?php if ( have_posts() ) : while ( have_posts() ) : the_post(); ?>
    <article id="post-<?php the_ID(); ?>" <?php post_class(); ?>>
    <?php if (get_post_type() == "personal_stories") { ?>
      <?php
        $personal_stories_hero = get_post( 280 );
        $personal_stories_hero_content = apply_filters('the_content', $personal_stories_hero->post_content);
        echo $personal_stories_hero_content;
      ?>

      <div class="wp-block-group position-relative mb-n5">
        <div class="wp-block-group__inner-container">
          <div class="wp-block-columns">
            <div class="wp-block-column card block-heading blue">
              <header>
                <h1 class="has-text-align-center h3 display-2"><?php the_title(); ?></h1>
              </header>
              <?php the_content(); ?>
              <footer class="pt-2">
                <div class="post-share">
                  <a class="facebook text-yellow d-inline-block" href="https://www.facebook.com/sharer/sharer.php?u=">
                    <span class="visually-hidden">Share on Twitter</span>
                    <svg class="social">
                      <use xlink:href="#facebook"></use>
                    </svg>
                  </a>
                  <a class="twitter text-yellow d-inline-block" href="https://twitter.com/intent/tweet?url=">
                    <span class="visually-hidden">Share on Twitter</span>
                    <svg class="social">
                      <use xlink:href="#twitter"></use>
                    </svg>
                  </a>
                  <script>
                    const encodedPageUrl = encodeURI(window.location.href);
                    document.querySelector('.facebook').href += encodedPageUrl;
                    document.querySelector('.twitter').href += encodedPageUrl;
                  </script>
                </div>
              </footer>
            </div>
          </div>
        </div>
      </div>
      <style>
        h1 { text-transform: inherit !important; }
      </style>

      <?php
        $personal_stories = get_post( 171 );
        $personal_stories_content = apply_filters('the_content', $personal_stories->post_content);
        echo $personal_stories_content;
      ?>
      <style>
        .bg-green-offset::before { content: inherit; }
        .bg-green-offset h2::before { content: 'More '; }
        .bg-green-offset .wp-block-buttons { display: none; }
      </style>
    <?php } else { ?>
      <?php 
        $id = get_the_ID();
        $terms = get_the_terms( $id, 'age-group' ); 
        $adult;
        foreach($terms as $term) {
          if ($term->name == '18 to 25') {
            $adult = 'true';
          }
        }
      ?>
      <header class="full-width pt-4 pt-md-5 text-center overflow-hidden <?php if ($adult == true) : ?>bg-indigo<?php else : ?>bg-indigo-offset text-md-start<?php endif; ?>">
        <div class="container position-relative">
          <?php if ($adult == true) : ?>
          <div class="single__adult--title text-white mt-3">
            <h1 class="single__adult--title-highlight">Real stories</h1>
            <p class="single__adult--title-text text-end">from real people</p>
          </div>
          <div class="single__adult--intro-box position-relative">
            <div class="border border-primary border-4 rounded-3 bg-white mt-5 mb-4 position-relative">
              <div class="d-md-flex align-items-center justify-content-center m-3 mx-lg-4">
                <div class="col-auto">
                  <img src="" alt="" width="100" height="100">
                </div>
                <div class="col-12 col-md py-3 px-4 text-md-start">
                  <div class="fw-bold">Do you have a story to share?</div>
                  <div>Lorem ipsum sit dolor amet</div>
                </div>
                <a href="#" class="btn btn-primary col-auto">Contact us</a>
              </div>
            </div>

            <style>
              .single__adult--intro-box::before {
                content: '';
                position: absolute;
                width: 100vw;
                left: 0;
                top: 50%;
                height: 100vh;
                background: white;
                margin-left: calc(50% - 50vw);
                margin-right: calc(50% - 50vw);
              }
            </style>
          </div>
          <?php else : ?>
            <h1 class="post-title text-white mb-5"><?php the_title(); ?></h1>
            <?php if ( has_post_thumbnail() ) : ?>
              <?php the_post_thumbnail(array(960, 500), ['class' => 'post-image img-fluid']); ?>
            <?php endif; ?>
            <div class="post-meta d-flex mx-2 mb-3">
              <span class="post-category col-auto">
                <?php
                $categories = get_the_category();
                if ( ! empty( $categories ) ) {
                  foreach( $categories as $category ) {
                    echo '<span class="btn btn-blue text-white">'. esc_html( $category->name ) .'</span>';
                  }
                }
                ?>
              </span>
              <span class="post-author col-auto btn">Written by BigDeal</span>
              <span class="post-date col-auto ms-auto"><?php the_time( get_option( 'date_format' ) ); ?></span>
            </div>
          <?php endif; ?>
        </div>
      </header>
      <div class="py-3">
        <?php the_content(); ?>
      </div>
      <?php if ($adult != true) : ?>
        <footer class="pb-5">
          <div class="post-share">
            <p class="h2">Share this blog:</p>
            <a class="facebook text-yellow d-inline-block" href="https://www.facebook.com/sharer/sharer.php?u=">
              <span class="visually-hidden">Share on Twitter</span>
              <svg class="social">
                <use xlink:href="#facebook"></use>
              </svg>
            </a>
            <a class="twitter text-yellow d-inline-block" href="https://twitter.com/intent/tweet?url=">
              <span class="visually-hidden">Share on Twitter</span>
              <svg class="social">
                <use xlink:href="#twitter"></use>
              </svg>
            </a>
            <script>
              const encodedPageUrl = encodeURI(window.location.href);
              document.querySelector('.facebook').href += encodedPageUrl;
              document.querySelector('.twitter').href += encodedPageUrl;
            </script>
          </div>
          <a href="<?php echo get_permalink( get_option( 'page_for_posts' ) ); ?>" class="post-back d-block mt-5 fw-bold">Back to all blogs</a>
        </footer>
      <?php endif; ?>
    <?php } ?>
    </article>
  <?php endwhile; endif; ?>
  <?php if ($adult == true) : ?>
    <?php
      $adult_footer_top = get_post( 3467 );
      $adult_footer_top_content = apply_filters('the_content', $adult_footer_top->post_content);
      echo $adult_footer_top_content;
    ?>
  <?php endif; ?>
  <?php
    $footer_top = get_post( 101 );
    $footer_top_content = apply_filters('the_content', $footer_top->post_content);
    echo $footer_top_content;
  ?>
</main>
<?php get_footer(); ?>
