.budget-planner {
  background-image: linear-gradient(to bottom, transparent 50%, rgba($indigo, 0.075) 50%);

  &__row {
    background-color: white;
    position: relative;
    overflow: hidden;

    &::before {
      content: '';
      position: absolute;
      background-color: rgba($indigo, 0.25);
      z-index: 0;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
    }

    > * {
      position: relative;
      z-index: 1;
    }
  }

  .table-parent {
    @extend .rounded-3;
    @extend .py-3;
    @extend .px-2;
    background-color: rgba($indigo, 0.075);
    position: relative;
    overflow: hidden;
    
    &::before {
      @extend .rounded-3;
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: white;
      z-index: -1;
    }
  }

  .table {
    font-size: 0.8rem;

    span,
    select,
    input {
      font-size: 0.9rem;
    }

    &__saving {
      &--total {
        margin-right: 0.75rem;
        padding-left: 1.5rem;
        font-weight: 600;
        background-color: $indigo;
        border-radius: 0 0.5rem 0.5rem 0;

        > div {
          &:first-child {
            flex: 0.575;
          }

          &:not(:first-child) {
            flex: 0.425;
            padding-left: 2rem;
          }
        }
      }
    }

    &__saving,
    &__income {
      th,
      td {
        &:first-child {
          width: 57.5%;
        }

        > * {
          width: 100%;
        }
      }
    }

    &__fixed {
      .table {
        min-width: 40rem;
      }

      th,
      td {
        &:first-child {
          width: 30%;
        }

        &:nth-child(2) {
          width: 18.5%;
        }

        &:nth-child(3) {
          width: 18.5%;
        }

        &:nth-child(4) {
          width: 18.5%;
        }

        > * {
          width: 100%;
        }
      }
    }
  }

  .span {
    &__left {
      @extend .px-0;
      font-size: 0.9rem;
      font-weight: 600;
      border: none;
      background-color: transparent;
    }
  }

  .btn {
    &--pdf {
      @include media-breakpoint-up(md) {
        position: absolute;
        top: 1rem;
        height: 3.5rem;
        left: 0;
      }

      @include media-breakpoint-up(lg) {
        left: calc(50% - 5.25rem);
      }
    }

    &.btn--clear {
      color: $danger;
    }
  }

  .form-select,
  .form-control {
    border-color: rgba($indigo, 0.25);
    box-shadow: unset !important;
    padding: 0.25rem 0.5rem;

    &::placeholder {
      opacity: 0.5;
    }

    &:focus {
      border-color: $indigo;
    }
  }

  td {
    position: relative;
  }

 [type="number"] {
   ~ span {
     margin: 0.56rem 1.3rem;
     pointer-events: none;
     position: absolute;
     left: 0;
     top: 0;
     height: calc(100% - 1rem);
     width: calc(100% - 2.2rem);
     background: white;
   }
 }

 .results-container {
   background-color: white;

   &::before {
     content: '';
     position: absolute;
     background-color: rgba($indigo, 0.075);
     z-index: 0;
     top: 0;
     left: 0;
     height: 100%;
     width: 100%;
   }
 }

 .result {
   color: white;
   font-size: 1.15rem;
   font-weight: 600;

   @include media-breakpoint-up(lg) {
     font-size: 1.4rem;
   }

   > div {
     opacity: 0.8;
   }

   > span:not(.total__saved) {
     background-color: rgba(black, 0.2);
     border-radius: 0 .5rem .5rem 0;
     padding: 0.5rem 1rem; 
     width: 100%;
     display: block;
   }

   .total__goal {
      @include media-breakpoint-down(lg) {
        margin: 0.5rem 0;
        display: block;
      }
   }

   &__income {
     background-image: linear-gradient(to right, rgba($yellow, 1) 0%, rgba($orange, 1) 100%);
   }

   &__expenses {
     background-image: linear-gradient(to right, rgba($green, 1) 0%, rgba($blue, 1) 100%);
   }

   &__saved {
     background-image: linear-gradient(to right, rgba($purple, 1) 0%, rgba($indigo, 1) 100%);
     text-align: center;

     .total__saved {
       font-size: 2rem;
     }

     small {
       font-weight: 300;
       font-size: 1rem;
     }
   }
 }

  .header {
    @extend .mt-5;
    @extend .mb-3;
    position: relative;
    padding-left: 3.275rem;

    &::before {
      bottom: -0.25rem;
      left: 0;
      position: absolute;
      content: '';
      height: 3rem;
      width: 3rem;
      background-size: 3rem 3rem;
      background-repeat: no-repeat;
      background-position: 0 100%;
    }

    &__income {
      &::before {
        background-image: url("data:image/svg+xml,%3Csvg width='57' height='57' viewBox='0 0 57 57' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.59001 46.6415C4.17287 46.6415 3.75558 35.1683 4.17282 32.2479C9.17925 30.1618 14 28.1194 15.2288 28.0758C16.4575 28.0322 18.4299 28.0875 20.0266 28.7016C25.4503 30.7876 28.6138 31.768 33.5858 34.7511C34.6288 35.3769 35.1533 35.8485 35.046 36.8371C34.9526 37.6981 33.9969 38.6212 32.96 38.5059C31.0826 38.2973 24.1987 34.9597 20.2352 35.3769C16.2718 36.4199 27.5 40.5 33.5858 40.8006C35.1644 40.8786 36.7609 39.4071 37.5493 37.8801C39.057 34.9597 35.1048 34.9011 36.5062 33.4995C36.7148 33.2909 42.1385 29.1188 46.7278 27.2414C48.3255 26.5878 49.8605 27.3234 50.8998 28.7016C52.028 30.1976 52.3893 32.3628 50.8998 33.4995C42.9729 39.549 35.4632 46.8501 30.4568 47.8931C25.0331 49.023 19.1435 40.7755 11.8911 42.8866C8.73805 43.8045 7.87395 46.6415 4.59001 46.6415Z' fill='%236D5CB8'/%3E%3Ccircle cx='33' cy='16.375' r='10.35' fill='%23F7C844' stroke='white' stroke-width='1.3'/%3E%3Cpath d='M29.7825 15.763H35.772V17.149H29.7825V15.763ZM29.733 20.8285C30.162 20.4435 30.514 20.075 30.789 19.723C31.064 19.36 31.2675 19.008 31.3995 18.667C31.5315 18.315 31.5975 17.963 31.5975 17.611C31.5975 17.171 31.5205 16.764 31.3665 16.39C31.2235 16.016 31.053 15.653 30.855 15.301C30.668 14.949 30.4975 14.5915 30.3435 14.2285C30.2005 13.8655 30.129 13.486 30.129 13.09C30.129 12.562 30.2775 12.078 30.5745 11.638C30.8715 11.198 31.262 10.8515 31.746 10.5985C32.241 10.3345 32.791 10.2025 33.396 10.2025C34.034 10.2025 34.639 10.3565 35.211 10.6645C35.794 10.9725 36.2725 11.396 36.6465 11.935L35.673 13.057C35.409 12.65 35.0625 12.32 34.6335 12.067C34.2045 11.814 33.781 11.6875 33.363 11.6875C33.055 11.6875 32.78 11.759 32.538 11.902C32.307 12.034 32.12 12.221 31.977 12.463C31.845 12.694 31.779 12.958 31.779 13.255C31.779 13.574 31.845 13.893 31.977 14.212C32.12 14.52 32.285 14.839 32.472 15.169C32.67 15.499 32.835 15.8565 32.967 16.2415C33.11 16.6265 33.1815 17.0555 33.1815 17.5285C33.1815 17.8695 33.132 18.205 33.033 18.535C32.934 18.854 32.769 19.1785 32.538 19.5085C32.318 19.8275 32.0265 20.185 31.6635 20.581C31.8945 20.526 32.109 20.482 32.307 20.449C32.505 20.416 32.703 20.3995 32.901 20.3995C33.176 20.3995 33.44 20.427 33.693 20.482C33.946 20.526 34.1935 20.5755 34.4355 20.6305C34.6775 20.6745 34.925 20.6965 35.178 20.6965C35.387 20.6965 35.5905 20.6745 35.7885 20.6305C35.9975 20.5755 36.234 20.504 36.498 20.416L36.9435 21.769C36.6795 21.923 36.3825 22.0385 36.0525 22.1155C35.7225 22.2035 35.398 22.2475 35.079 22.2475C34.749 22.2475 34.4245 22.209 34.1055 22.132C33.7975 22.055 33.4785 21.9835 33.1485 21.9175C32.8295 21.8405 32.494 21.802 32.142 21.802C31.856 21.802 31.5315 21.835 31.1685 21.901C30.8165 21.956 30.481 22.033 30.162 22.132L29.733 20.8285Z' fill='white'/%3E%3C/svg%3E%0A");
      }
    }

    &__saving {
      &::before {
        background-image: url("data:image/svg+xml,%3Csvg width='57' height='57' viewBox='0 0 57 57' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.0705 34.719C9.64944 31.5519 11.2529 26.6237 11.2529 26.6237C11.2529 26.6237 14.1843 28.676 16.3466 29.2615C19.5398 30.1261 21.7104 29.9745 24.8057 28.8067C27.5179 27.7835 28.9271 26.6457 30.8089 24.4407C32.7889 22.1207 31.9999 19.394 34.1743 17.255C35.6076 15.845 38.2676 14.7991 38.6313 14.7082C38.995 14.6173 40.1369 14.3453 40.5414 14.9811C40.8275 15.4306 40.5414 16.3454 40.5414 16.3454C40.5414 16.3454 39.5772 17.4474 39.4498 18.7104L39.4471 18.7373C39.3858 19.3443 39.2746 20.4453 39.7227 20.8934C41.1391 22.3098 41.555 22.5346 42.5425 23.804C43.7422 25.3463 44.8165 28.261 44.8165 28.261H46.1808C47.1855 28.261 48 29.0754 48 30.0801V34.719C48 35.7237 47.1855 36.5381 46.1808 36.5381H44.8165C44.8165 36.5381 44.2166 38.3303 42.7243 40.9951C40.1775 45.543 37.9946 46.9074 37.9946 46.9074V49.9999H29.8084V47.726C29.8084 47.726 28.3838 48.1627 27.4435 48.1808C26.3983 48.2009 24.8057 47.726 24.8057 47.726V49.9999H17.0742L16.3466 46.2707L13.0721 41.9047C13.0721 41.9047 10.4712 37.7336 10.0705 34.719Z' fill='%236D5CB8'/%3E%3Ccircle cx='38.2816' cy='26.28' r='1.8246' fill='%23E3DEFC'/%3E%3Ccircle cx='20.5511' cy='16.255' r='9.92767' fill='%23CCC1FF' stroke='white' stroke-width='1.24695'/%3E%3Cpath d='M17.4642 16.4023H23.2093V17.7317H17.4642V16.4023ZM17.4167 21.2611C17.8282 20.8918 18.1659 20.5383 18.4296 20.2007C18.6934 19.8525 18.8886 19.5149 19.0152 19.1878C19.1419 18.8501 19.2052 18.5125 19.2052 18.1749C19.2052 17.7528 19.1313 17.3624 18.9836 17.0037C18.8464 16.6449 18.6829 16.2968 18.493 15.9591C18.3136 15.6215 18.15 15.2786 18.0023 14.9304C17.8652 14.5822 17.7966 14.2182 17.7966 13.8383C17.7966 13.3319 17.939 12.8676 18.2239 12.4456C18.5088 12.0235 18.8833 11.6912 19.3476 11.4485C19.8224 11.1953 20.35 11.0687 20.9303 11.0687C21.5422 11.0687 22.1225 11.2164 22.6712 11.5118C23.2304 11.8072 23.6894 12.2135 24.0481 12.7305L23.1144 13.8067C22.8611 13.4163 22.5288 13.0998 22.1173 12.8571C21.7058 12.6144 21.2996 12.4931 20.8986 12.4931C20.6032 12.4931 20.3394 12.5617 20.1073 12.6988C19.8857 12.8254 19.7063 13.0048 19.5692 13.2369C19.4426 13.4585 19.3793 13.7117 19.3793 13.9966C19.3793 14.3026 19.4426 14.6086 19.5692 14.9146C19.7063 15.21 19.8646 15.516 20.044 15.8325C20.2339 16.149 20.3922 16.492 20.5188 16.8612C20.6559 17.2305 20.7245 17.642 20.7245 18.0957C20.7245 18.4228 20.677 18.7446 20.5821 19.0612C20.4871 19.3671 20.3289 19.6784 20.1073 19.9949C19.8963 20.3009 19.6167 20.6438 19.2685 21.0237C19.49 20.9709 19.6958 20.9287 19.8857 20.8971C20.0756 20.8654 20.2655 20.8496 20.4555 20.8496C20.7192 20.8496 20.9725 20.876 21.2152 20.9287C21.4578 20.9709 21.6952 21.0184 21.9274 21.0711C22.1595 21.1134 22.3969 21.1345 22.6396 21.1345C22.84 21.1345 23.0352 21.1134 23.2251 21.0711C23.4256 21.0184 23.6525 20.9498 23.9057 20.8654L24.333 22.1632C24.0798 22.3109 23.7949 22.4217 23.4784 22.4956C23.1618 22.58 22.8506 22.6222 22.5446 22.6222C22.2281 22.6222 21.9168 22.5852 21.6108 22.5114C21.3154 22.4375 21.0094 22.3689 20.6929 22.3056C20.3869 22.2318 20.0651 22.1948 19.7274 22.1948C19.4531 22.1948 19.1419 22.2265 18.7937 22.2898C18.456 22.3426 18.1342 22.4164 17.8282 22.5114L17.4167 21.2611Z' fill='white'/%3E%3C/svg%3E%0A");
      }
    }

    &__expenses {
      &::before {
        background-image: url("data:image/svg+xml,%3Csvg width='57' height='57' viewBox='0 0 57 57' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M25.8962 13.7294C21.0037 18.0898 14.5682 23.9202 14.2793 23.9202H17.3593L28.7993 18.2002V15.0388C28.7993 13.5267 27.025 12.7233 25.8962 13.7294Z' fill='%236D5CB8'/%3E%3Cpath d='M32.7597 24.3598H18.6797L30.2126 18.5934C31.3828 18.0083 32.7597 18.8592 32.7597 20.1676V24.3598Z' fill='%236D5CB8'/%3E%3Crect x='9' y='25.24' width='34.32' height='23.76' rx='4.4' fill='%236D5CB8'/%3E%3Crect x='34.5204' y='34.0399' width='12.32' height='7.92' rx='2.64' fill='%236D5CB8' stroke='%23E3DEFC' stroke-width='1.76'/%3E%3Ccircle cx='39.3602' cy='38' r='1.76' fill='%236D5CB8' stroke='%23E3DEFC' stroke-width='0.88'/%3E%3Cpath d='M39.6004 13.4C39.6004 16.5742 37.8946 17.2781 36.5274 19.1671C36.1915 19.6312 36.3176 20.2643 36.7577 20.6311L38.8632 22.3857C39.2942 22.7449 39.9148 22.7571 40.339 22.3899C41.357 21.5083 43.1403 19.8075 43.8004 18.2C44.6064 16.2372 44.4004 13.4 44.4004 13.4H46.1314C47.1328 13.4 47.6937 12.246 47.075 11.4586L42.944 6.20092C42.4635 5.58944 41.5373 5.58944 41.0568 6.20092L36.9258 11.4586C36.3071 12.246 36.868 13.4 37.8693 13.4H39.6004Z' fill='%235ECBD4' stroke='white' stroke-width='1.3'/%3E%3C/svg%3E%0A");
      }
    }
  }

  .shadow-lg {
    box-shadow: .55rem .55rem .75rem .25rem rgba(109,92,184,.1) !important;
  }
}
