//
// Buttons
//

.btn {
  font-weight: $font-weight-bold;

  &:not(:hover) {
    &:visited {
      color: unset !important;
    }

    &.text-white {
      color: $white !important;
    }
  }
}

.btn-chat {
  a.wp-block-button__link {
    @extend .btn-outline-primary;
    border-radius: $btn-border-radius !important;
  }
}
