//
// Gutenberg button block
//

.wp-block-buttons {
  @extend .mt-auto;
}

.wp-block-button__link {
  @extend .mt-4;
  @extend .btn;
  @extend .btn-primary;
}

.is-style-fill {
  .wp-block-button__link {
    @extend .btn-primary;
  }
}

.is-style-outline {
  .wp-block-button__link {
    @extend .btn-outline-blue;
    border-radius: 0 !important;

    &:not(:hover) {
      background-color: transparent !important;
    }
  }
}

.bg-primary,
.bg-yellow,
.bg-primary-offset {
  :not(.is-style-outline) {
    .wp-block-button__link {
      background-color: $white !important;
      border-color: transparent !important;
    }
  }

  .is-style-outline {
    .wp-block-button__link {
      border-color: $white !important;

      &:not(:hover) {
        background-color: transparent !important;
      }
    }
  }
}

// Text colour override
.btn-primary,
.is-style-fill .wp-block-button__link,
.wp-block-button__link,
.is-style-outline > .wp-block-button__link:not(.has-text-color),
.wp-block-button__link.is-style-outline:not(.has-text-color) {
  color: $purple !important;
}

// Background overrides
.bg-blue-wave,
.bg-blue {
  .wp-block-button__link {
    background-color: transparent !important;
    border-color: $white !important;
  }
}

.bg-primary-wave {
  .wp-block-button__link {
    border-radius: 0.5rem !important;
    border-color: $white !important;
    border-radius: 0 .5rem .5rem .5rem !important;
  }
}

.card {
  .is-style-outline.outlined-button {
    .wp-block-button__link {
      @extend .btn;
      @extend .btn-outline-primary;
      border-color: $primary !important;
      border-radius: 0 .5rem .5rem .5rem !important;
    }
  }
}
