<?php
/**
 * Parents and professionals hub block
 *
 * @package      Synthetic
 * @author       James Monk
 * @since        1.0.0
 * @license      GPL-2.0+
**/

// disable block frontend wrapper.
add_filter( 'acf/hero/frontend_allow_wrapper', '__return_false' );
?>
<div class="hero-parents pt-5 pb-md-5 full-width text-center">
  <div class="container pb-3">
    <?php $image =  get_field('image'); echo wp_get_attachment_image($image, full, '', ['class' => 'img-fluid']); ?>
    <h1 class="text-purple"><?php echo get_field('title'); ?></h1>
    <?php echo get_field('text'); ?>
    <div class="row justify-content-center mt-4">
      <?php
      $counter = 0;
      if( have_rows('section') ): while ( have_rows('section') ) : the_row();
        $counter++; ?>
        <div class="col-auto pb-2">
          <a href="#<?php echo sanitize_title_with_dashes(get_sub_field('title')); ?>" class="btn-toggle btn btn<?php if ($counter > 1) : echo '-outline'; endif; ?>-purple text-white"><?php if ($counter == 1) : echo 'I am a '. substr(get_sub_field('title'), 0, -1); else : echo 'I work with young people'; ; endif; ?></a>
        </div>
      <?php endwhile; endif;?>
    </div>
  </div>
  <style>
    .hero-parents {
      background-image: url("data:image/svg+xml,%3Csvg width='1440' height='643' viewBox='0 0 1440 643' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 635.814C68 638.067 71.5 633.683 174 632.1C212.8 630.516 320.1 635.571 329.5 635.571C424 635.753 519 636.18 614.2 636.667C686.3 637.032 758.4 637.458 830.5 637.824C899.3 638.189 968 638.433 1036.4 638.615C1109.3 638.798 1181.9 635.205 1254.1 635.023C1321.7 634.84 1388.3 642.391 1440 641.721V643V0H0V638.615V635.814Z' fill='%235ECBD4'/%3E%3C/svg%3E%0A");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: bottom center;
    }
  </style>
</div>

<div class="row position-relative">
  <div class="hub-aside col-md-4 py-5">
    <div class="card px-3 py-4 sticky-top">
      <p class="text-orange h4">Section</p>
      <ul class="nav flex-column">
        <?php
        $counter = 0;
        if( have_rows('section') ): while ( have_rows('section') ) : the_row();
          $counter++; ?>
          <li class="nav-item mx-n2">
            <a href="#<?php echo sanitize_title_with_dashes(get_sub_field('title')); ?>" class="nav-toggle text-decoration-none p-2 d-block lh-sm rounded-3<?php if ($counter == 1) : echo ' bg-blue text-white'; endif; ?>">For <?php echo get_sub_field('title'); ?></a>
          </li>
        <?php endwhile; endif;?>
      </ul>
      <p class="text-orange h4 mt-3">On this page</p>
      <ul class="nav flex-column aside-nav">
        <?php
        $counter = 0;
        if( have_rows('section') ): while ( have_rows('section') ) : the_row();
          $counter++; ?>
          <div<?php if ($counter > 1) : echo ' class="visually-hidden"'; endif; ?>></div>
        <?php endwhile; endif;?>
      </ul>
    </div>
  </div>
  <div class="hub-main col-md ps-md-5 pb-5">
    <?php
    $counter = 0;
    if( have_rows('section') ): while ( have_rows('section') ) : the_row();
      $counter++; ?>
      <div id="<?php echo sanitize_title_with_dashes(get_sub_field('title')); ?>" class="section-content<?php if ($counter > 1) : echo ' visually-hidden'; endif; ?>">
        <h2 class="visually-hidden"><?php echo ucfirst(get_sub_field('title')); ?></h2>
        <?php if( have_rows('content_block') ): while ( have_rows('content_block') ) : the_row();?>
          <div>
            <div class="row">
              <div class="col-auto pt-5">
                <?php $image =  get_sub_field('image'); echo wp_get_attachment_image($image, full, '', ['class' => 'img-fluid']); ?>
              </div>
              <h3 class="pt-5 col h6 text-purple"><?php echo get_sub_field('title'); ?></h3>
            </div>
            <?php echo get_sub_field('text'); ?>
            <?php if( have_rows('factsheet') ): while ( have_rows('factsheet') ) : the_row();?>
              <a class="factsheet mt-5 mt-lg-4 border border-4 rounded-4 ps-4 pe-5 ps-md-5 pt-5 pt-lg-4 pb-2 pb-lg-5 d-block text-decoration-none" href="<?php $file =  get_sub_field('file'); echo wp_get_attachment_url($file); ?>">
                <h4 class="mx-md-3 text-purple"><?php echo get_sub_field('title'); ?></h4>
                <p class="mx-md-3 text-purple"><?php echo get_sub_field('text'); ?></p>
              </a>
            <?php endwhile; endif;?>
          </div>
        <?php endwhile; endif;?>
      </div>
    <?php endwhile; endif;?>
  </div>
</div>

<style>
  h3[id] {
    padding-top: 9rem !important;
    margin-top: -5.5rem !important;
    position: relative;
    z-index: -1;
  }

  .section-content {
    margin-top: -5rem;
    padding-top: 5rem;
  }

  .section-content ul {
    list-style: none;
    padding: 0;
    margin-left: -0.5rem;
  }

  .section-content li {
    position: relative;
    padding: 1.25rem 0 0 4.25rem;
    min-height: 4.1rem; 
  }

  .section-content li::before {
    top: 0;
    left: 0;
    position: absolute;
    content: '';
    height: 4.666rem;
    width: 4.666rem;
    background-image: url("data:image/svg+xml,%3Csvg width='84' height='84' viewBox='0 0 84 84' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_dd)'%3E%3Cpath d='M60 37.1881C60 42.4158 58.2879 49.577 51.9208 53.8218C47.6436 56.6733 39.5644 59.5822 35.7624 59.5247C28.8188 59.4199 22.9307 55.7228 19.2719 52.8713C13.5456 48.4085 12 42.4815 12 35.7624C12 29.7525 15.802 22.4789 17.9101 20.0792C22.9607 14.3301 28.6486 12 35.7624 12C43.2573 12 49.234 14.0201 54.297 20.0792C58.4367 25.0332 60 32.8066 60 37.1881Z' fill='%236D5CB8'/%3E%3C/g%3E%3Cpath d='M27.207 31.0704C27.4414 31.549 28.0228 32.5728 28.777 33.8612C29.8718 36.7033 32.2022 39.8838 33.7691 42.239C34.1135 42.7567 34.8855 42.7624 35.2237 42.2406L40.0387 34.8117L44.9496 28.1582' stroke='white' stroke-width='3.37954' stroke-linecap='round'/%3E%3Cdefs%3E%3Cfilter id='filter0_dd' x='0.594059' y='0.594059' width='83.1683' height='82.6939' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0'/%3E%3CfeOffset dx='9.50495' dy='9.50495'/%3E%3CfeGaussianBlur stdDeviation='7.12871'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0.427451 0 0 0 0 0.360784 0 0 0 0 0.721569 0 0 0 0.1 0'/%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0'/%3E%3CfeOffset dx='-1.90099' dy='-1.90099'/%3E%3CfeGaussianBlur stdDeviation='4.75248'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0.427451 0 0 0 0 0.360784 0 0 0 0 0.721569 0 0 0 0.05 0'/%3E%3CfeBlend mode='normal' in2='effect1_dropShadow' result='effect2_dropShadow'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect2_dropShadow' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-size: cover;
    background-position; center center;
  }

  .rounded-4 {
    border-radius: 1rem;
  }

  .factsheet {
    position: relative;
    background-image: url("data:image/svg+xml,%3Csvg width='18' height='33' viewBox='0 0 18 33' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.470669 32.2944C-0.133471 31.4978 -0.0909233 30.2579 0.565702 29.525C0.58724 29.5009 0.609314 29.4776 0.631895 29.455L13.5869 16.4988L0.584015 3.50689C-0.0976505 2.82579 -0.19512 1.60327 0.366312 0.776302C0.384085 0.750122 0.402422 0.724518 0.421303 0.699505C1.05926 -0.145672 2.13095 -0.237087 2.86011 0.49147L17.2166 14.8332C17.3438 14.9323 17.4625 15.0524 17.5694 15.1933C18.1736 15.9899 18.131 17.2298 17.4744 17.9627C17.4528 17.9868 17.4308 18.0101 17.4082 18.0327L2.94192 32.5009C2.20369 33.2392 1.11847 33.1485 0.470669 32.2944Z' fill='%23312C77'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: calc(100% - 1rem) center;
  }

  .factsheet::before {
    position: absolute;
    content: '';
    height: 4.166rem;
    width: 4.166rem;
    top: calc(0% - 2.083rem);
    left: calc(50% - 2.083rem);
    border-radius: 50%;
    background-image: url("data:image/svg+xml,%3Csvg width='96' height='73' viewBox='0 0 96 73' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M48.852 65.1764C48.852 64.7981 48.8104 64.4198 48.7896 63.9574C48.3533 63.9574 48.0208 63.9574 47.6676 63.9574C41.8911 63.9574 36.1353 63.9364 30.3588 63.9574C24.2083 63.9785 20.2187 60.0062 20.2187 53.7642C20.198 42.9194 20.2187 32.0956 20.2187 21.2508C20.2187 19.7165 20.2187 19.6955 18.7227 19.6955C13.715 19.6955 8.70728 19.6955 3.69958 19.6955C1.64248 19.7165 0.894438 18.9389 0.87366 16.8582C0.832102 13.6216 0.956775 10.427 2.26584 7.40054C4.40606 2.50356 8.33326 0.023549 13.6319 0.0445661C27.3251 0.0866002 40.9976 0.0445661 54.6908 0.0655831C59.9686 0.0655831 63.8958 2.39848 66.2231 7.27443C67.0958 9.10292 67.262 11.0995 67.2412 13.0962C67.2412 23.2264 67.2412 33.3776 67.2412 43.5078C67.2412 44.0122 67.2412 44.5377 67.2412 45.1682C67.8022 45.1682 68.197 45.1682 68.6126 45.1682C73.4125 45.1892 78.2124 45.1892 83.0123 45.2523C89.0382 45.3153 95.7498 50.5065 95.729 59.1235C95.7082 67.9297 95.729 54.6679 95.729 63.474C95.729 63.8523 95.729 66.3324 95.729 66.8998C95.729 66.8998 95.542 72.3012 91.594 72.3012C87.646 72.3012 53.1324 72.3012 53.1324 72.3012C53.1324 72.3012 48.9974 72.4904 48.9974 68.0347L48.852 65.1764ZM63.0439 45.1682C63.0647 44.7058 63.1062 44.3695 63.1062 44.0333C63.1062 33.5458 63.1062 23.0582 63.1062 12.5707C63.1062 11.9192 63.0855 11.2467 62.9608 10.5951C62.3374 7.29545 59.3453 4.22696 54.8155 4.26899C44.3014 4.35306 33.8081 4.29001 23.294 4.29001C22.9408 4.29001 22.6083 4.33205 22.0681 4.37408C24.0836 6.98019 24.4161 9.79648 24.4161 12.7599C24.3953 26.421 24.3953 40.1031 24.3953 53.7642C24.3953 54.2476 24.3953 54.752 24.4368 55.2354C24.707 57.8625 27.3459 59.9852 29.9225 59.67C32.7899 59.3127 34.5769 57.211 34.6185 54.0164C34.6808 50.9689 35.9275 48.5729 38.3379 46.7865C40.021 45.5465 41.9742 45.1682 44.0313 45.1682C49.9117 45.1682 55.7921 45.1682 61.6517 45.1682C62.1089 45.1682 62.5452 45.1682 63.0439 45.1682ZM53.2155 65.2815C53.2155 65.2815 53.1532 68.0347 54.9817 68.0347C56.8103 68.0347 89.4746 68.0347 89.4746 68.0347C89.4746 68.0347 91.5732 67.9297 91.5732 64.8401C91.5732 55.6557 91.6771 67.8876 91.5524 58.7032C91.4693 53.0706 87.5006 49.3926 81.9319 49.3926C72.2905 49.3926 62.6491 49.3926 53.0077 49.3926C52.5921 49.3926 52.1974 49.3926 51.6987 49.3926C51.9688 50.3174 52.3428 51.095 52.4051 51.9147C52.6753 55.2143 52.9869 58.514 53.0077 61.8347L53.2155 65.2815ZM20.1772 15.4711C20.1772 13.7687 20.2395 12.1294 20.1564 10.5111C20.011 7.50562 17.6214 4.81544 14.6916 4.35306C8.25014 3.36526 4.40606 8.59851 5.19565 15.4711C10.1618 15.4711 15.1279 15.4711 20.1772 15.4711ZM49.0182 59.754C48.7688 57.232 48.665 54.794 48.2494 52.4191C47.9169 50.4645 46.5871 49.5608 44.6339 49.4557C44.2183 49.4347 43.8027 49.4136 43.3871 49.4136C40.7898 49.4346 38.8989 51.3892 38.7119 54.0374C38.608 55.5086 38.2132 56.9588 37.8807 58.4089C37.7768 58.8503 37.4859 59.2496 37.2366 59.775C41.143 59.754 44.904 59.754 49.0182 59.754Z' fill='white'/%3E%3Cpath d='M44.2825 38.8211C40.2515 38.8211 36.1996 38.8211 32.1685 38.8211C30.9218 38.8211 30.153 38.3167 29.9036 37.3919C29.5296 36.0468 30.34 34.8489 31.7321 34.6807C32.2516 34.6177 32.7711 34.6597 33.2906 34.6597C40.9164 34.6597 48.563 34.6597 56.1888 34.6597C57.2278 34.6597 58.142 34.9119 58.5784 35.9418C59.2017 37.3919 58.2044 38.8211 56.5213 38.8421C52.9681 38.8841 49.4149 38.8631 45.841 38.8631C45.3215 38.8421 44.802 38.8421 44.2825 38.8211C44.2825 38.8421 44.2825 38.8421 44.2825 38.8211Z' fill='white'/%3E%3Cpath d='M44.1775 28.5228C40.1672 28.5228 36.1568 28.5228 32.1465 28.5228C30.7959 28.5228 29.9855 27.8923 29.8401 26.7784C29.6531 25.3702 30.5881 24.3614 32.1465 24.3614C36.1153 24.3404 40.084 24.3614 44.0736 24.3614C48.1878 24.3614 52.302 24.3614 56.4162 24.3614C57.933 24.3614 58.8681 25.3072 58.7434 26.6523C58.6395 27.8292 57.8084 28.5228 56.4162 28.5228C52.3228 28.5228 48.2501 28.5228 44.1775 28.5228Z' fill='white'/%3E%3Cpath d='M37.6738 18.2035C35.8037 18.2035 33.9336 18.2245 32.0843 18.2035C30.6921 18.1825 29.861 17.4259 29.8402 16.1648C29.8194 14.9038 30.6714 14.0631 32.0428 14.0631C35.8037 14.0421 39.5647 14.0421 43.3464 14.0631C44.7178 14.0631 45.5906 14.8828 45.6113 16.1228C45.6321 17.3838 44.7386 18.2035 43.2841 18.2245C41.3932 18.2245 39.5439 18.2035 37.6738 18.2035Z' fill='white'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 68%;
  }

  @media (min-width: 768px) {
    .factsheet {
      margin-left: 4.25rem;
      background-position: calc(100% - 2rem) center;
    }

    .factsheet::before {
      top: calc(50% - 3.999rem);
      left: -4.5rem;
      height: 7.888rem;
      width: 7.888rem;
    }
  }

  .factsheet:nth-child(4n+2) {
    border-color: #F7C844 !important;
  }

  .factsheet:nth-child(4n+2)::before {
    background-color: #F7C844 !important;
  }

  .factsheet:nth-child(4n+3) {
    border-color: #5ECBD4 !important;
  }

  .factsheet:nth-child(4n+3)::before {
    background-color: #5ECBD4 !important;
  }

  .factsheet:nth-child(4n+4) {
    border-color: #6D5CB8 !important;
  }

  .factsheet:nth-child(4n+4)::before {
    background-color: #6D5CB8 !important;
  }

  .factsheet:nth-child(4n+5) {
    border-color: #F59422 !important;
  }

  .factsheet:nth-child(4n+5)::before {
    background-color: #F59422 !important;
  }
</style>

<script>
  const sections = document.querySelectorAll('.hub-main > div');
  let counter = 0;
  sections.forEach(function (item, index) {
    counter++;
    let asideNav = document.querySelector('.aside-nav > div:nth-child(' + counter + ')');

    let headers = item.querySelectorAll('h3');
    headers.forEach(function (item, index) {
      const title = item.innerHTML;
      let handle = title.toLowerCase().replace(/[^\w\u00C0-\u024f]+/g, "-").replace(/^-+|-+$/g, "");
      item.id = handle + '-' + counter;
      asideNav.innerHTML = asideNav.innerHTML + '<li class="nav-item">\n<a href="#' + handle + '-' + counter + '" class="text-decoration-none py-2 d-block lh-sm">' + title + '</li>';
    });
  });

  let toggleBtn = document.querySelectorAll('.btn-toggle');
  let toggleNav = document.querySelectorAll('.nav-toggle');
  let navContent = document.querySelectorAll('.aside-nav > div');
  let sectionContent = document.querySelectorAll('.section-content');

  toggleBtn.forEach(function (item, index) {
    item.addEventListener('click', function (event) {
      event.preventDefault();

      toggleBtn.forEach(function (item, index) {
        item.classList.remove('btn-purple');
        item.classList.add('btn-outline-purple');
      });
      toggleBtn[index].classList.remove('btn-outline-purple');
      toggleBtn[index].classList.add('btn-purple');

      toggleNav.forEach(function (item, index) {
        item.classList.remove('bg-blue');
        item.classList.remove('text-white');
      });
      toggleNav[index].classList.add('bg-blue');
      toggleNav[index].classList.add('text-white');

      navContent.forEach(function (item, index) {
        item.classList.add('visually-hidden');
      });
      navContent[index].classList.remove('visually-hidden');

      sectionContent.forEach(function (item, index) {
        item.classList.add('visually-hidden');
      });
      sectionContent[index].classList.remove('visually-hidden');

      footerContent.forEach(function (item, index) {
        item.classList.add('visually-hidden');
      });
      footerContent[index].classList.remove('visually-hidden');

      document.getElementById(item.hash.substr(1)).scrollIntoView();
    });
  });

  toggleNav.forEach(function (item, index) {
    item.addEventListener('click', function (event) {
      event.preventDefault();

      toggleBtn.forEach(function (item, index) {
        item.classList.remove('btn-purple');
        item.classList.add('btn-outline-purple');
      });
      toggleBtn[index].classList.remove('btn-outline-purple');
      toggleBtn[index].classList.add('btn-purple');

      toggleNav.forEach(function (item, index) {
        item.classList.remove('bg-blue');
        item.classList.remove('text-white');
      });
      toggleNav[index].classList.add('bg-blue');
      toggleNav[index].classList.add('text-white');

      navContent.forEach(function (item, index) {
        item.classList.add('visually-hidden');
      });
      navContent[index].classList.remove('visually-hidden');

      sectionContent.forEach(function (item, index) {
        item.classList.add('visually-hidden');
      });
      sectionContent[index].classList.remove('visually-hidden');

      footerContent.forEach(function (item, index) {
        item.classList.add('visually-hidden');
      });
      footerContent[index].classList.remove('visually-hidden');

      document.getElementById(item.hash.substr(1)).scrollIntoView();
    });
  });

</script>
