<?php
/**
 * Adult Hero block
 *
 * @package      Synthetic
 * @author       James Monk
 * @since        1.0.0
 * @license      GPL-2.0+
**/

$title = get_field('title');
$tagline = get_field('tagline');
$pages = get_field('pages');
$has_anchor = 'false';

$title = preg_replace('!^<p>(.*?)</p>$!i', '$1', $title);

// disable block frontend wrapper.
add_filter( 'acf/hero/frontend_allow_wrapper', '__return_false' );
?>
<div class="full-width adult__hero bg-indigo text-white pt-5 mb-5 text-center">
  <div class="container pt-lg-4">
    <h1 class="text-primary adult__hero--title"><?php echo $title; ?></h1>
    <?php if ($tagline) : ?>
      <div class="col-lg-10 mx-auto mt-4 pb-1">
        <?php echo $tagline; ?>
      </div>
    <?php endif; ?>
    <?php if( have_rows('pages') ): ?>
      <form class="row align-items-center justify-content-center col-md-9 col-lg-6 mx-auto rounded-3 bg-white py-2 ps-1 pe-3 mt-3 border-3 border border-primary">
        <div class="col me-1 my-1">
          <select class="form-select select__url">
            <option value="" disabled selected>I am looking for information on&hellip;</option>
            <?php while( have_rows('pages') ) : the_row(); ?>
              <?php $menu_item = get_sub_field('menu_item'); ?>
              <?php $anchor_link = get_sub_field('anchor_link'); ?>
              <?php if(!$anchor_link): ?>
                <?php $id = $menu_item->ID; ?>
                <option value="<?php echo esc_url( get_page_link( $id ) ); ?>"><?php echo esc_html( $menu_item->post_title ); ?></option>
              <?php else: ?>
                <?php $has_anchor = 'true'; ?>
              <?php endif; ?>
            <?php endwhile; ?>
          </select>
        </div>
        <input type="button" class="btn btn-primary col-auto btn__nav my-1" value="Go!" />

        <script>
          const goBtn = document.querySelector('.btn__nav');
          const menu = document.querySelector('.select__url');

          goBtn.onclick = function() {
            window.location = menu.value;
          }
        </script>
      </form>

      <?php if($has_anchor == 'true'): ?>
        <div class="row mt-4 adult__hero--thumbnails">
          <?php while( have_rows('pages') ) : the_row(); ?>
            <?php $menu_item = get_sub_field('menu_item'); ?>
            <?php $anchor_link = get_sub_field('anchor_link'); ?>
            <?php if($anchor_link): ?>
              <?php $thumbnail_image = get_sub_field('thumbnail_image'); ?>
              <?php $thumbnail_tagline = get_sub_field('thumbnail_tagline'); ?>
              <div class="col-md-6 col-lg-4 mt-4">
                <a href="#<?php echo strtolower(trim(preg_replace('/[\s-]+/', '-', preg_replace('/[^A-Za-z0-9-]+/', '-', preg_replace('/[&]/', 'and', preg_replace('/[\']/', '', iconv('UTF-8', 'ASCII//TRANSLIT', esc_html( $menu_item->post_title )))))), '-')); ?>" class="card h-100">
                  <div class="card-img-top bg-primary px-2 pt-2 d-flex justify-content-center align-items-end">
                    <?php if( !empty( $thumbnail_image ) ): ?>
                      <div class="mb-n3">
                        <img src="<?php echo esc_url($thumbnail_image['url']); ?>" alt="<?php echo esc_html( $menu_item->post_title ); ?>" class="img-fluid adult__hero--icon mt-2" />
                      </div>
                    <?php endif; ?>
                  </div>
                  <div class="card-body">
                    <div class="card-title">
                      <?php echo esc_html( $menu_item->post_title ); ?>
                    </div>
                    <div class="card-text">
                      <?php echo $thumbnail_tagline; ?>
                    </div>
                  </div>
                </a>
              </div>
            <?php endif; ?>
          <?php endwhile; ?>
        </div>
      <?php endif; ?>
    <?php endif; ?>
  </div>

  <style>
    .adult__hero--title strong {
      color: white;
    }

    .adult__hero--thumbnails {
      position: relative;
    }

    .adult__hero--thumbnails::before {
      position: absolute;
      content: '';
      width: 100vw;
      top: 40%;
      height: 100%;
      background-color: white;
      left: 0;
      margin-left: calc(50% - 50vw);
      margin-right: calc(50% - 50vw);
    }

    .adult__hero--icon {
      max-height: 9rem;
    }
  </style>
</div>
