<?php
/**
 * Adult Are You Worried? block
 *
 * @package      Synthetic
 * @author       James Monk
 * @since        1.0.0
 * @license      GPL-2.0+
**/

$title = get_field('title');
$text = get_field('text');
$link = get_field('link');
$image = get_field('image');

// disable block frontend wrapper.
add_filter( 'acf/hero/frontend_allow_wrapper', '__return_false' );
?>
<div class="adult__worried wp-block-group overflow-hidden">
  <div class="wp-block-group__inner-container adult__worried--container position-relative">
      <div class="border border-primary border-4 rounded-3 bg-white">
        <div class="d-md-flex align-items-center justify-content-center m-3 m-lg-4">
          <?php if( !empty( $image ) ): ?>
            <div class="col-8 col-md-3 mx-auto order-md-1">
              <img src="<?php echo esc_url($image['url']); ?>" alt="<?php echo esc_attr($image['alt']); ?>" class="img-fluid" />
            </div>
          <?php endif; ?>
          <div class="col-12 col-md py-3 px-4 text-center text-md-start order-md-0">
            <div class="adult__worried--title">
              <?php echo $title; ?>
            </div>
            <div class="adult__worried--text">
              <?php echo $text; ?>
            </div>
            <a href="<?php echo $link['url']; ?>" class="btn btn-orange text-white"><?php echo $link['title']; ?></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <style>
    .adult__worried {
      background-image: #ffecd0;
    }

    .adult__worried--container::before {
      content: '';
      position: absolute;
      bottom: 50%;
      width: 100vw;
      margin-left: calc(50% - 50vw);
      margin-right: calc(50% - 50vw);
      background-color: white;
      height: 100vh;
      z-index: 0;
      left: 0;
    }

    .adult__worried--title {
      font-family: Oswald,sans-serif;
      text-transform: uppercase;
      font-size: 1.75rem;
    }

    .adult__worried--title strong {
      color: var(--bs-yellow);
    }
  </style>
</div>
