<?php
/**
 * Questions block
 *
 * @package      Synthetic
 * @author       James Monk
 * @since        1.0.0
 * @license      GPL-2.0+
**/

// disable block frontend wrapper.
add_filter( 'acf/hero/frontend_allow_wrapper', '__return_false' );
?>
<div class="wp-block-columns mb-5">
  <div class="wp-block-column">
    <div class="accordion accordion-flush" id="accordionQuestions">
      <?php
      $count = 0;
      if( have_rows('question') ): while ( have_rows('question') ) : the_row();
        $count++;
      ?>
        <div class="accordion-item">
          <h3 class="accordion-header mb-0" id="question-heading<?php echo '-'.$count; ?>">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordion-collapse<?php echo '-'.$count; ?>" aria-expanded="false" aria-controls="accordion-collapse"><?php the_sub_field('title'); ?></button>
          </h3>
          <div id="accordion-collapse<?php echo '-'.$count; ?>" class="accordion-collapse collapse" aria-labelledby="question-heading<?php echo '-'.$count; ?>" data-bs-parent="#accordionQuestions">
            <div class="accordion-body pt-0">
              <?php the_sub_field('text'); ?>
            </div>
          </div>
        </div>
      <?php
        endwhile; endif;
      ?>
    </div>
  </div>
</div>
<style>
  .accordion-item { border: 0 !important; }
</style>
