//
//  Bootstrap variable overrides
//

// Colours
$blue:    #5ecbd4;
$indigo:  #6d5cb8;
$purple:  #372680;
$red:     #e83942;
$orange:  #f59422;
$yellow:  #f7c844;
$green:   #26a195;
$white:   #ffffff;
$black:   #000000;

$colors: (
  "blue":       $blue,
  "indigo":     $indigo,
  "purple":     $purple,
  "red":        $red,
  "orange":     $orange,
  "yellow":     $yellow,
  "green":      $green,
  "white":      $white,
  "black":      $black
);

$primary:       $yellow;
$secondary:     $blue;

$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "blue":       $blue,
  "indigo":     $indigo,
  "purple":     $purple,
  "red":        $red,
  "orange":     $orange,
  "yellow":     $yellow,
  "green":      $green,
  "white":      $white,
  "black":      $black
);

// Options
$enable-negative-margins:     true;

// Spacing
$spacer: 1rem * 1.11111111111111111111; // 20px

// Grid breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 600px,
  md: 768px,
  lg: 1024px
);

// Grid containers
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 987px
);

// Typography
$font-family-sans-serif:      "Raleway";

$font-size-root:              1.125rem;
$font-size-base:              1rem; // 18px
$font-size-sm:                $font-size-base * .0.88888888888888888889; // 16px
$font-size-sm:                $font-size-base * 0.55555555555555555556; // 10px
$font-size-lg:                $font-size-base * 1.11111111111111111111; // 20px

$font-weight-light:           300;
$font-weight-normal:          400;
$font-weight-bold:            700;

$font-weight-base:            $font-weight-normal;

$line-height-base:            1.5;
$line-height-sm:              1.25;

$h1-font-size:                $font-size-base * 3.05555555555555555556; // 55px
$h2-font-size:                $font-size-base * 2.22222222222222222222; // 40px
$h3-font-size:                $font-size-lg; // 20px
$h4-font-size:                $font-size-lg; // 20px
$h5-font-size:                $font-size-base * 0.83333333333333333333; // 15px
$h6-font-size:                $h2-font-size; // 40px

$headings-margin-bottom:      $spacer / 2;
$headings-font-family:        'Oswald';
$headings-font-style:         null;
$headings-font-weight:        $font-weight-bold;
$headings-line-height:        1.2;
$headings-color:              $indigo;

$display-font-sizes: (
  1: 3.88888888888888888889rem, // 70px
  2: 2.22222222222222222222rem, // 40px
  3: 2.22222222222222222222rem // 40px
);

$display-font-weight: $font-weight-bold;
$display-line-height: $headings-line-height;

// Body
$body-bg:                   $white;
$body-color:                $purple;

// Links
$link-color:                              $body-color;
$link-decoration:                         underline;
$link-hover-color:                        $secondary;

// Navs
$nav-link-padding-y:                0.75rem;
$nav-link-padding-x:                1.5rem;
$nav-link-font-size:                1.27777777777777777778rem; // 23px
$nav-link-font-weight:              700;
$nav-link-color:                    null;
$nav-link-hover-color:              null;
$nav-link-transition:               color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out !default;

// Navbar
$navbar-padding-y:                  0;
$navbar-light-color:                $white;
$navbar-light-hover-color:          rgba($white, .7);
$navbar-light-active-color:         rgba($white, .9);

$navbar-toggler-padding-y:          .25rem;
$navbar-toggler-padding-x:          .75rem;
$navbar-toggler-font-size:          $font-size-lg;
$navbar-toggler-border-radius:      0;
$navbar-toggler-focus-width:        0;
$navbar-toggler-transition:         0;
$navbar-light-toggler-icon-bg:      url("data:image/svg+xml,%3Csvg width='35' height='29' viewBox='0 0 35 29' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline x1='2.49902' y1='14.3636' x2='33.5001' y2='14.3636' stroke='white' stroke-width='3' stroke-linecap='round'/%3E%3Cline x1='2.49805' y1='26.7273' x2='33.5011' y2='26.7273' stroke='white' stroke-width='3' stroke-linecap='round'/%3E%3Cline x1='2.5' y1='1.5' x2='33.5' y2='1.5' stroke='white' stroke-width='3' stroke-linecap='round'/%3E%3C/svg%3E%0A");
$navbar-light-toggler-border-color: transparent;

// Dropdowns
$dropdown-min-width:                null;
$dropdown-padding-x:                0;
$dropdown-padding-y:                0;
$dropdown-spacer:                   0;
$dropdown-font-size:                $font-size-base;
$dropdown-color:                    $white;
$dropdown-bg:                       $purple;
$dropdown-border-color:             transparent;
$dropdown-border-radius:            0;
$dropdown-border-width:             0;
$dropdown-inner-border-radius:      0;
$dropdown-divider-bg:               $white;
$dropdown-divider-margin-y:         $spacer / 2;
$dropdown-box-shadow:               box-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

$dropdown-link-color:               $white;
$dropdown-link-hover-color:         null;
$dropdown-link-hover-bg:            $yellow;

$dropdown-link-active-color:        $purple;
$dropdown-link-active-bg:           $yellow;

$dropdown-item-padding-y:           $spacer / 2;
$dropdown-item-padding-x:           $spacer;

$dropdown-header-color:             $white;
$dropdown-header-padding:           $dropdown-padding-y $dropdown-item-padding-x;

// Buttons
$btn-padding-y:               0.3em;
$btn-padding-x:               1.5em;
$btn-padding-y-sm:            0.425em;
$btn-padding-x-sm:            1.2em;
$btn-border-width:            0.2em;
$btn-border-radius:           0 0.5rem 0.5rem 0.5rem;
$btn-border-radius-sm:        0.5rem 0.5rem 0.5rem 0;

// Cards
$card-spacer-y:                     $spacer * 1.5;
$card-spacer-x:                     $spacer * 1.5;
$card-border-width:                 0;
$card-border-radius:                0.5rem;

// Accordion
$accordion-padding-x:                     0;
$accordion-border-color:                  $secondary;

$accordion-button-active-bg:              none;
$accordion-button-active-color:           none;
$accordion-button-focus-border-color:     none;
$accordion-button-focus-box-shadow:       none;

$accordion-icon-width:                    1.88rem;
$accordion-icon-color:                    $primary;
$accordion-icon-transition:               none;
$accordion-icon-transform:                none;

$accordion-button-icon:         url("data:image/svg+xml,%3Csvg width='34' height='34' viewBox='0 0 34 34' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M19.8672 2C19.8672 0.895431 18.9718 0 17.8672 0C16.7626 0 15.8672 0.895431 15.8672 2V14.8889H2C0.895431 14.8889 0 15.7843 0 16.8889C0 17.9935 0.895431 18.8889 2 18.8889H15.8672V32C15.8672 33.1046 16.7626 34 17.8672 34C18.9718 34 19.8672 33.1046 19.8672 32V18.8889H32C33.1046 18.8889 34 17.9935 34 16.8889C34 15.7843 33.1046 14.8889 32 14.8889H19.8672V2Z' fill='#{$accordion-icon-color}'/%3E%3C/svg%3E%0A");
$accordion-button-active-icon:  url("data:image/svg+xml,%3Csvg width='34' height='34' viewBox='0 0 34 34' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline x1='2' y1='17' x2='32' y2='17' stroke='#{$accordion-icon-color}' stroke-width='4' stroke-linecap='round'/%3E%3C/svg%3E%0A");
